{% extends 'base.html.twig' %}

{% block title %}{{ list.slug }}{% endblock %}

{% block body %}
    {%  for message in app.flashes('notification') %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
    {% endfor %}
    <h1>List {{ list.slug }}'s contents.</h1>
    <small>Owner: {{ list.owner }}</small><br />
    <small>Users: </small>
        <ul>
            {% for name in list.users %}
                <li><small>{{ name }}</small></li>
            {% endfor %}
        </ul>
    {% if display_member_form %}
        <h4>Add or remove friends from your list</h4>
        {{ form(member_form) }}
        <h4>Add Game to list:</h4>
    {% endif %}

    {{ form(game_form) }}

    {% if games|length > 0 %}
    <table>
        <tr>
            <td>Game</td>
            <td>Score</td>
        </tr>
        {% for game in games %}
        <tr>
            <td>{{ game.name }}</td>
            <td>{{ game.score }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h2>There are no games in the list</h2>
    Be the first to suggest a game!
    {% endif %}

{% endblock %}
