{% extends 'base.html.twig' %}

{% block title %}what2play - {{ user }}{% endblock %}

{% block body %}
    <h2>
        {{ user }}'s Game Lists:
    </h2>

    {% if lists|length > 0 %}
        {% for list in lists %}
            <a href="/{{ list.slug }}">{{ list.slug }}</a>
            <small>
                {% for name in list.users %}
                    {{ name }}
                {% endfor %}
            </small>

        {% endfor %}
    {% else %}
        <h3>
            {{ user }} has no Game Lists!
        </h3>
    {% endif %}
    {% if display_form == true %}
        <h2>Add a new Game List</h2>

        {{ form(list_form) }}
    {% endif %}
{% endblock %}